@model BlogMvc.Models.Kategori

@{
   
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}



<h3>Silmeyi Onaylıyormusunuz?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdı)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
